# Ignore node_modules directory
node_modules/

# Ignore .env file (if you have one)
.env

# Ignore build output
artifacts/
cache/
coverage/

# Ignore local Hardhat network artifacts
hardhat-network/

# Ignore Ethereum address JSON files
addresses/

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .idea directory (IDE-specific)
.idea/

# Ignore Visual Studio Code settings
.vscode/

# Ignore logs
*.log

# Ignore npm debug log
npm-debug.log

# Ignore yarn.lock file (if using Yarn)
yarn.lock

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore WebStorm project files
.idea/
*.iml
